@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(124, 123, 131);
    line-height: 1.6em;
}

h1 {
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
    color: rgb(50, 49, 68);
    color: white;
}

h2, h3 {
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
    color: rgb(50, 49, 68)
}

#hero {
    background-image: url("./design-assets/bgk-header.png");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 15% 0 15%; /* mein Vorschlag, ggf. anpassen */
    padding: 10px 0 0 0;
}

/* .nav-left {
    display: inline;
} */

.nav-left img {
    min-width: 44px;
    height: auto;
}

#tajam {
    display: inline;
    font-size: 20px;
    background: -webkit-linear-gradient(90deg, rgba(129,207,205,1) 0%, rgba(102,147,198,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-right a {
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a:hover, a:active {
    color:rgb(134, 215, 205);
} 

header {
    text-align: center;
    padding: 10% 20% 18% 20%;
    color: white;
}

header h1 {
    margin: 0 0 25px 0;
}

header p {
    margin: 25px 0 50px 0;
}

header hr {
    width: 7%;
    border-color:rgb(134, 215, 205);
}

header button {
    border: 2px solid turquoise;
    background-color: transparent;
    color: rgb(134, 215, 205);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

#neue-sektion {
    background-image: url('./design-assets/bgk-middle.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* oder eine andere gewünscht Höhe */
}

.zentriertes-bild img {
    display: block;
    margin: auto;
}

#zweispaltige-sektion {
    background-color: white;
    display: flex;
}

.spalte1 {
    width: 40vh;
    display: flex;
    justify-content: flex-end;
}


.spalte1 img {
    width:40vh; /* oder eine andere gewünschte Breite */
    height: auto;
}

.spalte2 {
    width: 60vh;
    padding-left: 20px; /* oder ein anderer gewünschter Abstand */
}

.spalte2 h2, .spalte2 p {
    text-align: left;
}

.spalte2 button {
    border: 2px solid turquoise;
    background-color: white;
    color: rgb(134, 215, 205);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

#expertise {
    text-align: center;
}

#expertise h2 {
    margin: 6% 0 0 0;
}

#expertise h3 {
    font-weight: 200;
}

#expertise hr {
    width: 7%;
    margin-top: 2%;
    margin-bottom: 6%;
    color: rgb(197, 196, 200)
}

.grid-container-expertise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: var(--gap);
    --gap: 2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 1px;
    --line-color: rgb(235, 235, 235);
}

/* Pseudo Element Shared Styling */
.grid-item-expertise::before, 
.grid-item-expertise::after {
   content: '';
   position: absolute;
   background-color: var(--line-color);
   z-index: 1;
}

/* Row Borders */
.grid-item-expertise::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}
/* Column Borders */
.grid-item-expertise::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-inline-start: calc(var(--line-offset) * -1);
}

.grid-item-expertise {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
    position: relative;
}

.grid-item-expertise img {
    margin: 0 auto;
    min-height: 50px;;
}

.item-expertise-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    padding-top: 7%;
    padding-bottom: 0;
}