@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(124, 123, 131);
    line-height: 1.6em;
}

h1 {
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
    color: white;
}

h2, h3 {
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
    color: rgb(50, 49, 68)
}

/* STYLES Navbar & Hero */

#hero {
    background-image: url("./design-assets/bgk-header.png");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 15% 0 15%; /* mein Vorschlag, ggf. anpassen */
    padding: 10px 0 0 0;
}

.nav-left {
    position: relative;
}

.nav-left > img {
    min-width: 44px;
    height: auto;
}

#tajam {
    display: inline;
    font-size: 25px;
    margin-left: 0.5em;
    background: -webkit-linear-gradient(180deg, rgba(129,207,205,1) 0%, rgba(102,147,198,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-160%);
}

.nav-right {
    flex-wrap: wrap;
}

.nav-right a {
    padding: 1em;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a:hover, a:active {
    color:rgb(134, 215, 205);
} 

header {
    text-align: center;
    padding: 10% 20% 18% 20%;
    color: white;
}

header h1 {
    margin: 0 0 25px 0;
}

header p {
    margin: 25px 0 50px 0;
}

header hr {
    width: 7%;
    border-color:rgb(134, 215, 205);
}

header button {
    border: 2px solid turquoise;
    background-color: transparent;
    color: rgb(134, 215, 205);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

#neue-sektion {
    background-image: url('./design-assets/bgk-middle.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* oder eine andere gewünscht Höhe */
}

.zentriertes-bild img {
    display: block;
    margin: auto;
}

.zentriertes-bild p {
    color: white;
    text-align: center;
    font-weight: bold;
}

#zweispaltige-sektion {
    background-color: white;
    display: flex;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.spalte1 {
    width: 40vh;
    display: flex;
    justify-content: flex-end;
}

.spalte1 img {
    width: auto; /* Remove the width property to maintain proportional scaling */
    height: auto; /* Remove the height property to maintain proportional scaling */
}

.spalte2 {
    width: 60vh;
    padding-left: 80px; /* oder anderen Wert nach Bedarf */
}

.spalte2 h2,
.spalte2 p {
    text-align: left;
}

.spalte2 button {
    border: 2px solid turquoise;
    background-color: white;
    color: rgb(134, 215, 205);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

/* STYLES Expertise*/

#expertise {
    text-align: center;
    margin-bottom: 8%;
}

#expertise h2 {
    margin: 6% 0 0 0;
}

#expertise h3 {
    font-weight: 200;
    color: rgb(9, 8, 19)
}

#expertise hr {
    width: 7%;
    margin-top: 2%;
    margin-bottom: 6%;
    color: rgb(197, 196, 200)
}

.grid-container-expertise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: var(--gap);
    --gap: 2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 1px;
    --line-color: rgb(235, 235, 235);
}

/* Pseudo Element Shared Styling */
.grid-item-expertise::before, 
.grid-item-expertise::after {
   content: '';
   position: absolute;
   background-color: var(--line-color);
   z-index: 1;
}

/* Row Borders */
.grid-item-expertise::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}
/* Column Borders */
.grid-item-expertise::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-inline-start: calc(var(--line-offset) * -1);
}

.grid-item-expertise {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
    position: relative;
}

.grid-item-expertise img {
    margin: 0 auto;
    min-height: 50px;;
}

.item-expertise-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    color: rgb(9, 8, 19);
    padding-top: 7%;
    padding-bottom: 0;
}

/* STYLES Team*/

#employees h2, h3 {
    color: white;
}

#employees {
    
    background-image: url('./design-assets/bgk-header.png');
    background-size: cover;
    color: white;
    padding: 1em;
    
}
.employeesHeader {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employeesImages{
    
    size: 220px 230px;
    margin-top: 4em;
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    justify-content: space-between;   
}

.person {

    display: flex;
    justify-content: space-evenly;
}

.job {
    
    display: flex;
    justify-content: space-evenly;  
}


/* KONTAKT*/

#kontakt-sektion h2 {
    color: rgb(50, 49, 68);
}

#kontakt-sektion {
    display: flex;
    background-color: white;
}

.spalte-links, .spalte-rechts {
    width: 50%;
    padding: 20px;
}
.spalte-links {
    padding-left: 100px; 
}
.spalte-rechts {
    padding-right: 100px; 
}
.spalte-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spalte-links h2, .spalte-rechts h2 {
    text-align: left;
    margin-bottom: 30px;
}

.spalte-links form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.spalte-links form input, .spalte-links form textarea {
    width: 150%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.spalte-links form textarea {
    height: calc(8 * 20px); /*Proportion des größeren Textfeldes*/
}

.spalte-links button {
    border: 2px solid turquoise;
    background-color:white;
    color: turquoise;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Erstellt 2 Spalten */
    grid-template-rows: repeat(5, 1fr); /* Erstellt 5 Reihen */
    grid-gap: 10px; /* Fügt einen Abstand zwischen den Logos hinzu */
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Stellt sicher, dass das Logo seine Proportionen beibehält */
}

.logo-spalte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-spalte img {
    width: 100%;
    margin-bottom: 35px;
}

.logo-spalte .logo-spezial {
    width: 200px; 
    height: 60px; 
    object-fit: contain;
}

.spalte-rechts img {
    width: 200px; 
    height: 30px; 
    object-fit: contain;
}


/* STYLES Footer*/
footer h3 {
    color: white;
}

footer {
    background-image: url('./design-assets/bgk-footer.png');
    background-size: cover;
    color: white;
    padding: 4em;
    display: flex;
}

.upperfooter {
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
 max-width: 25%;
 padding: 2rem;
}
.aboutLogo {
    margin: 2rem;
    margin-top: -1rem;
    height: 25%;
    width: auto;
    display: flex;
}

.branding {
    margin: 1rem;
    font-size: 40px;
    font-weight: 100;
    color: aqua;   
}
.terms {
    color: white;
    /*margin:;*/
    padding: 2rem;
}

.address {
    margin-top: 6rem;
    padding: 3rem;
    max-width: 20%;
    display:flex;
}


.Stayintouch {
    margin: 4rem;
    display: flex;
    flex-direction: column;
}



    

